mqtt.json
[{"id":"ccbc07fa.648a58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8634152e.8cbc28","type":"mqtt out","z":"ccbc07fa.648a58","name":"Lamp","topic":"/lamp/gpio/5","qos":"","retain":"","broker":"c61dcc84.8ae9e","x":950,"y":120,"wires":[]},{"id":"953452ba.b7697","type":"ui_chart","z":"ccbc07fa.648a58","name":"Temperature","group":"19128071.d81ec","order":2,"width":0,"height":0,"label":"TEMP","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1210,"y":1020,"wires":[[],[]]},{"id":"b1e49fff.ec121","type":"mqtt out","z":"ccbc07fa.648a58","name":"TV","topic":"Room/tv","qos":"2","retain":"","broker":"c61dcc84.8ae9e","x":950,"y":700,"wires":[]},{"id":"bd0ad9dd.efb618","type":"mqtt out","z":"ccbc07fa.648a58","name":"Shades","topic":"Room/shades","qos":"2","retain":"","broker":"c61dcc84.8ae9e","x":960,"y":280,"wires":[]},{"id":"b10cf7d3.bc60d8","type":"mqtt out","z":"ccbc07fa.648a58","name":"Blinds","topic":"Room/blinds","qos":"2","retain":"","broker":"c61dcc84.8ae9e","x":970,"y":400,"wires":[]},{"id":"5a789a14.f42b04","type":"mqtt out","z":"ccbc07fa.648a58","name":"Alarm","topic":"Room/alarmCntrl","qos":"2","retain":"","broker":"c61dcc84.8ae9e","x":1010,"y":1660,"wires":[]},{"id":"c13109e2.9e3128","type":"mqtt out","z":"ccbc07fa.648a58","name":"Door","topic":"Room/door","qos":"2","retain":"","broker":"c61dcc84.8ae9e","x":1190,"y":480,"wires":[]},{"id":"f0f92ad8.5339c8","type":"mqtt out","z":"ccbc07fa.648a58","name":"AC","topic":"Room/ac","qos":"2","retain":"","broker":"c61dcc84.8ae9e","x":950,"y":900,"wires":[]},{"id":"8789d91b.9262f8","type":"mqtt in","z":"ccbc07fa.648a58","name":"Temperature","topic":"Room/temperature","qos":"2","broker":"c61dcc84.8ae9e","x":650,"y":1020,"wires":[["953452ba.b7697"]]},{"id":"c089b9db.0772d8","type":"ui_switch","z":"ccbc07fa.648a58","name":"ALARM","label":"ARM/DIS-ARM","group":"e26d2f01.d380f","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Room/alarm","style":"","onvalue":"arm","onvalueType":"str","onicon":"security","oncolor":"green","offvalue":"disarm","offvalueType":"str","officon":"security","offcolor":"red","x":740,"y":1500,"wires":[["5a789a14.f42b04","d56128a0.79a5a8","90615b69.87b278","ae78b476.050988"]]},{"id":"3e5efe23.ba1052","type":"ui_switch","z":"ccbc07fa.648a58","name":"DOOR","label":"DOOR","group":"3a413e08.617cc2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Room/door","style":"","onvalue":"open","onvalueType":"str","onicon":"lock_open","oncolor":"green","offvalue":"close","offvalueType":"str","officon":"lock","offcolor":"red","x":730,"y":480,"wires":[["c13109e2.9e3128"]]},{"id":"d56128a0.79a5a8","type":"e-mail","z":"ccbc07fa.648a58","server":"smtp.phoenixaiden.co.za","port":"587","secure":false,"name":"shephard@phoenixaiden.co.za","dname":"Alarm Alert","x":1430,"y":1540,"wires":[]},{"id":"9bc651b2.f31bf","type":"http request","z":"ccbc07fa.648a58","name":"HTTP GET On","method":"POST","ret":"txt","url":"http://192.168.1.89/control?cmd=GPIO,5,0","tls":"","x":1200,"y":20,"wires":[[]]},{"id":"c2c1eebb.59e3e","type":"ui_switch","z":"ccbc07fa.648a58","name":"LAMP","label":"LAMP","group":"3a413e08.617cc2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LAMP","style":"","onvalue":"false","onvalueType":"str","onicon":"highlight","oncolor":"green","offvalue":"true","offvalueType":"str","officon":"highlight","offcolor":"red","x":750,"y":60,"wires":[["1274562b.ceccda","8634152e.8cbc28"]]},{"id":"1274562b.ceccda","type":"switch","z":"ccbc07fa.648a58","name":"Switch On or Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":60,"wires":[["9bc651b2.f31bf"],["1784cf6d.4ffcd1"]]},{"id":"1784cf6d.4ffcd1","type":"http request","z":"ccbc07fa.648a58","name":"HTTP GET Off","method":"POST","ret":"txt","url":"http://192.168.1.89/control?cmd=GPIO,5,1","tls":"","x":1200,"y":80,"wires":[[]]},{"id":"e2333843.1238f8","type":"http request","z":"ccbc07fa.648a58","name":"HTTP GET On","method":"POST","ret":"txt","url":"http://192.168.1.108/control?cmd=Servo,1,5,5","tls":"","x":1200,"y":140,"wires":[[]]},{"id":"23d28c48.03c364","type":"ui_switch","z":"ccbc07fa.648a58","name":"SHADES","label":"SHADES","group":"805df9ac.502988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"SHADES","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-sort-amount-asc","oncolor":"green","offvalue":"false","offvalueType":"str","officon":"fa-sort-amount-desc","offcolor":"red","x":740,"y":220,"wires":[["5849da58.0439a4","bd0ad9dd.efb618"]]},{"id":"5849da58.0439a4","type":"switch","z":"ccbc07fa.648a58","name":"Switch On or Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":200,"wires":[["e2333843.1238f8"],["77634d86.408594"]]},{"id":"77634d86.408594","type":"http request","z":"ccbc07fa.648a58","name":"HTTP GET Off","method":"POST","ret":"txt","url":"http://192.168.1.108/control?cmd=Servo,1,5,95","tls":"","x":1200,"y":200,"wires":[[]]},{"id":"ce39ee8a.00708","type":"http request","z":"ccbc07fa.648a58","name":"HTTP GET On","method":"GET","ret":"txt","url":"192.168.1.113/control?cmd=GPIO,12,1","tls":"","x":1200,"y":300,"wires":[[]]},{"id":"32c790ab.b2784","type":"ui_switch","z":"ccbc07fa.648a58","name":"BLINDS","label":"BLINDS","group":"805df9ac.502988","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"BLINDS","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-server","oncolor":"green","offvalue":"false","offvalueType":"str","officon":"fa-reorder","offcolor":"red","x":740,"y":340,"wires":[["490fbc6.71c8d44","b10cf7d3.bc60d8"]]},{"id":"490fbc6.71c8d44","type":"switch","z":"ccbc07fa.648a58","name":"Switch On or Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","outputs":2,"x":995.5,"y":339,"wires":[["ce39ee8a.00708"],["11894383.b66acc"]]},{"id":"11894383.b66acc","type":"http request","z":"ccbc07fa.648a58","name":"HTTP GET Off","method":"GET","ret":"txt","url":"192.168.1.113/control?cmd=GPIO,12,0","tls":"","x":1198.5,"y":375,"wires":[[]]},{"id":"761958c1.7c15f8","type":"http request","z":"ccbc07fa.648a58","name":"SWITCH OFF","method":"POST","ret":"txt","url":"http://192.168.1.64/off","tls":"","x":1200,"y":820,"wires":[[]]},{"id":"708f4485.a2efdc","type":"http request","z":"ccbc07fa.648a58","name":"Switch TV","method":"POST","ret":"txt","url":"http://192.168.1.57/tv","tls":"","x":1180,"y":600,"wires":[[]]},{"id":"90615b69.87b278","type":"switch","z":"ccbc07fa.648a58","name":"Switch On or Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1020,"y":1540,"wires":[["e5f2e67c.b79518"],["1a6bf36d.0842cd"]]},{"id":"e5f2e67c.b79518","type":"http request","z":"ccbc07fa.648a58","name":"HTTP GET On","method":"POST","ret":"txt","url":"http://192.168.1.57/23","tls":"","x":1220,"y":1500,"wires":[[]]},{"id":"1a6bf36d.0842cd","type":"http request","z":"ccbc07fa.648a58","name":"HTTP GET Off","method":"POST","ret":"txt","url":"http://192.168.1.57/24","tls":"","x":1220,"y":1580,"wires":[[]]},{"id":"fed63e52.7ac24","type":"inject","z":"ccbc07fa.648a58","name":"","topic":"tick","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":140,"y":1680,"wires":[["431e80f5.88652"]]},{"id":"1a788009.5f4af","type":"function","z":"ccbc07fa.648a58","name":"set countdown in seconds","func":"msg.topic = \"countdown\";\nmsg.payload = Math.floor(((msg.payload - Date.now()) / 1000));\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1440,"wires":[["431e80f5.88652"]]},{"id":"1a2475f9.60dc5a","type":"function","z":"ccbc07fa.648a58","name":"time string to millis","func":"var d = new Date(msg.payload); \nmsg.topic = \"teargetTimestamp\"\nmsg.payload = d.getTime();\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1520,"wires":[["1a788009.5f4af"]]},{"id":"d0a65599.060778","type":"function","z":"ccbc07fa.648a58","name":"msg","func":"\nreturn {topic: '', payload: msg};","outputs":1,"noerr":0,"x":230,"y":1520,"wires":[["1a2475f9.60dc5a"]]},{"id":"19c6d6c2.51e449","type":"ui_template","z":"ccbc07fa.648a58","group":"e26d2f01.d380f","name":"Date Input","order":1,"width":0,"height":0,"format":"<input ng-model=\"me.item.value\" type=\"datetime-local\" style=\"z-index: 1;\" ng-change=\"send(me.item.value)\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":70,"y":1520,"wires":[["d0a65599.060778"]]},{"id":"f1d02b58.93d2b8","type":"ui_switch","z":"ccbc07fa.648a58","name":"","label":"ENABLE TIMER","group":"e26d2f01.d380f","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"active","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":1440,"wires":[["431e80f5.88652"]]},{"id":"431e80f5.88652","type":"function","z":"ccbc07fa.648a58","name":"reduce countdown","func":"context.countdown = context.countdown || 0;\ncontext.active = context.active || false;\nif(msg.topic === \"countdown\")\n context.countdown = msg.payload;\nif(msg.topic === \"active\")\n{\n context.active = msg.payload;\n if(context.active === false)\n {\n msg.topic = \"countdown\";\n msg.payload = \"\";\n return msg;\n }\n}\nif(msg.topic === \"tick\" && context.countdown > 0 && context.active)\n{\n context.countdown--;\n msg.topic = \"countdown\";\n msg.payload = context.countdown;\n return msg;\n}\n\n","outputs":1,"noerr":0,"x":230,"y":1620,"wires":[["d6bf520.c299fb","1ceac767.513d39"]]},{"id":"1ceac767.513d39","type":"function","z":"ccbc07fa.648a58","name":"start if countdown 0","func":"if(msg.payload === 0)\n{\n msg.payload = \"1\";\n return msg;\n}","outputs":1,"noerr":0,"x":430,"y":1720,"wires":[["ae78b476.050988","c089b9db.0772d8"]]},{"id":"d6bf520.c299fb","type":"ui_text","z":"ccbc07fa.648a58","group":"e26d2f01.d380f","order":3,"width":0,"height":0,"name":"countdown","label":"CCOUNTDOWN","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1620,"wires":[]},{"id":"ae78b476.050988","type":"function","z":"ccbc07fa.648a58","name":"Stop Countdown","func":"msg.topic = \"active\";\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1600,"wires":[["f1d02b58.93d2b8"]]},{"id":"8920cdf3.bd3da","type":"ui_dropdown","z":"ccbc07fa.648a58","name":"","label":"SET TEMP","place":"SET TEMP","group":"889e77bf.bcea78","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"16","value":"16","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"32","value":"32","type":"str"}],"payload":"","topic":"","x":650,"y":880,"wires":[["895c607.832bca"]]},{"id":"150c3a9d.23d315","type":"ui_button","z":"ccbc07fa.648a58","name":"","group":"889e77bf.bcea78","order":2,"width":0,"height":0,"passthru":false,"label":"","color":"red","bgcolor":"","icon":"fa-power-off","payload":"0","payloadType":"num","topic":"","x":670,"y":820,"wires":[["f0f92ad8.5339c8","761958c1.7c15f8"]]},{"id":"804ce376.55c33","type":"http request","z":"ccbc07fa.648a58","name":"SET CHANNEL","method":"POST","ret":"txt","url":"http://192.168.1.57/{{msg.payload}}","tls":"","x":1180,"y":660,"wires":[[]]},{"id":"2506077a.150a68","type":"ui_dropdown","z":"ccbc07fa.648a58","name":"","label":"SET CHANNEL","place":"SET CHANNEL","group":"84cb72d1.badf7","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"HDMI1","value":"HDMI1","type":"str"},{"label":"HDMI2","value":"HDMI2","type":"str"},{"label":"AV","value":"AV","type":"str"}],"payload":"","topic":"","x":740,"y":660,"wires":[["804ce376.55c33"]]},{"id":"30388b50.84a094","type":"ui_button","z":"ccbc07fa.648a58","name":"","group":"84cb72d1.badf7","order":2,"width":0,"height":0,"passthru":false,"label":"","color":"red","bgcolor":"","icon":"fa-power-off","payload":"off","payloadType":"str","topic":"","x":730,"y":600,"wires":[["708f4485.a2efdc","b1e49fff.ec121"]]},{"id":"895c607.832bca","type":"http request","z":"ccbc07fa.648a58","name":"","method":"GET","ret":"txt","url":"http://192.168.1.64/{{{payload}}}","tls":"","x":1190,"y":880,"wires":[[]]},{"id":"816edb7b.c4f118","type":"mqtt in","z":"ccbc07fa.648a58","name":"Alarm State","topic":"Room/State","qos":"2","broker":"c61dcc84.8ae9e","x":650,"y":1140,"wires":[["91ba6705.9aaaa8"]]},{"id":"91ba6705.9aaaa8","type":"ui_slider","z":"ccbc07fa.648a58","name":"Alarm State","label":"slider","group":"e26d2f01.d380f","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Room/State","min":0,"max":"1","step":1,"x":1210,"y":1120,"wires":[["322b25d7.4226ca"]]},{"id":"dc28a5b2.ba8f88","type":"camerapi-takephoto","z":"ccbc07fa.648a58","filemode":"1","filename":"photo1.JPEG","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Take Photo","x":790,"y":1280,"wires":[["305c2340.6360bc"]]},{"id":"cec764b3.d77748","type":"ui_template","z":"ccbc07fa.648a58","group":"3a413e08.617cc2","name":"","order":0,"width":0,"height":0,"format":"<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/photo1.JPEG',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 2500);\" style=\"padding:40px; margin-bottom: 40px;\" >\n <ui-icon icon=\"camera\"></ui-icon>\n Take a photo<br>\n</md-button>\n\n<div style=\"margin-bottom:40px;\">\n <img src=\"/photo1.JPEG\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":520,"y":1280,"wires":[["dc28a5b2.ba8f88"]]},{"id":"305c2340.6360bc","type":"debug","z":"ccbc07fa.648a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":1280,"wires":[]},{"id":"322b25d7.4226ca","type":"debug","z":"ccbc07fa.648a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1420,"y":1120,"wires":[]},{"id":"c61dcc84.8ae9e","type":"mqtt-broker","z":"","name":"malaika","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"19128071.d81ec","type":"ui_group","z":"","name":"LOUNGE TEMP","tab":"ef964b80.5a6c68","order":6,"disp":true,"width":"6","collapse":false},{"id":"e26d2f01.d380f","type":"ui_group","z":"","name":"ALARM","tab":"ef964b80.5a6c68","order":2,"disp":true,"width":"6","collapse":false},{"id":"3a413e08.617cc2","type":"ui_group","z":"","name":"MAIN ENTRANCE","tab":"ef964b80.5a6c68","order":1,"disp":true,"width":"6","collapse":false},{"id":"805df9ac.502988","type":"ui_group","z":"","name":"LOUNGE","tab":"ef964b80.5a6c68","order":3,"disp":true,"width":"6","collapse":false},{"id":"889e77bf.bcea78","type":"ui_group","z":"","name":"AIR CONDITIONER","tab":"ef964b80.5a6c68","order":5,"disp":true,"width":"6","collapse":false},{"id":"84cb72d1.badf7","type":"ui_group","z":"","name":"TELEVISION","tab":"ef964b80.5a6c68","order":4,"disp":true,"width":"6","collapse":false},{"id":"ef964b80.5a6c68","type":"ui_tab","z":"","name":"HOUSE","icon":"home","order":1}]